<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title> <%- title %></title>
</head>
<body>
    
      <header class="main-header">
        <div class="container">
          <h1>Meus filmes</h1>
          <nav>
            <ul>
              <li><a href="#">Página Inicial</a></li>
              <li><a href="#">Sobre mim</a></li>
              <li><a href="#">Contato</a></li>
            </ul>
            <div class="search-bar">
              <input type="text" placeholder="Pesquise por um filme aqui">
              <button type="submit">Pesquise</button>
            </div>
          </nav>
        </div>
      </header>
    
      <div id="container">
        <form action="/addMovie" method="POST">
    
          <div class="form-group">
            <label for="name">Movie:</label>
            <input type="text" id="name" name="movie" placeholder="Enter movie name">
          </div>
    
          <div class="form-group">
            <label for="rating">Rating:</label>
            <input type="text" id="rating" name="rating" placeholder="Rating">
          </div>
    
          <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" placeholder="Date">
          </div>
            
          <button type="submit" class="submit-btn">Submit</button>
    
        </form>
      </div>

    
    
    </body>
    </html>
