<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>        <%= typeof title != 'undefined' ? title: 'Homepage' %>    </title>
</head>
<body>
    

    <form id="myForm" action="/addMovie" method="POST">

        <div>
            <label for="name">Movie:</label>
            <input type="text" id="name" name="movie" placeholder="Enter movie name">
        </div>

        <div>
            <label for="name">Rating:</label>
            <input type="text" id="password" name="rating" placeholder="Rating">
        </div>

        <div>
            <label for="name">Date:</label>
            <input type="date" id="password" name="date" placeholder="Date">
        </div>
        
        <button type="submit" class="submit-btn">Submit</button>

    </form>

</body>
</html>