<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nada</title>
</head>
<body>

    <form action="/addMovie" method="POST">

        <div class="form-group">
            <label for="name">Movie:</label>
            <input type="text" id="name" name="movie" placeholder="Enter movie name">
        </div>

        <div class="form-group">
            <label for="name">Rating:</label>
            <input type="text" id="password" name="rating" placeholder="Rating">
        </div>

        <div class="form-group">
            <label for="name">Date:</label>
            <input type="date" id="password" name="date" placeholder="Date">
        </div>
        
        <button type="submit" class="submit-btn">Submit</button>

    </form>

    
</body>
</html>