<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title> <%- title %></title>
</head>
<body>
    
      <header class="main-header">
        <div class="container">
          <nav>
            <ul>
              <li><a href="/">Página Inicial</a></li>
              <li><a href="/movies">Filmes</a></li>
              <li><a href="#">Categorias</a></li>
            </ul>

            <form action="/search" method="GET" class="search-bar">
              <input type="search" name="query" placeholder="Pesquise por um filme">
          </form>

          </nav>
        </div>
      </header>
    

<section>

    <h1 class="title">Filmes</h1>

   <div>
       <% if(movies != '') { %>
           <% movies.forEach(function(movie, index) { %>
             <ul>
               <p>Movie: <%- movie.movie %></p>
               <p>Rating: <%- movie.rating %></p>
               <p>Date: <%- movie.date %></p>
             </ul>
       <% }) %>
           <% } %>
       </div>

</section>

</body>
</html>
